<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TBS</key>
	<string>http://www.tbs.co.jp/radio/</string>
	<key>QRR</key>
	<string>http://www.joqr.co.jp/</string>
	<key>LFR</key>
	<string>http://www.1242.com/</string>
	<key>INT</key>
	<string>https://www.interfm.co.jp/</string>
	<key>FMT</key>
	<string>http://www.tfm.co.jp/</string>
	<key>FMJ</key>
	<string>http://www.j-wave.co.jp/</string>
	<key>JORF</key>
	<string>http://www.jorf.co.jp/</string>
	<key>BAYFM78</key>
	<string>http://www.bayfm.co.jp/</string>
	<key>NACK5</key>
	<string>http://www.nack5.co.jp/</string>
	<key>YFM</key>
	<string>http://www.fmyokohama.co.jp/</string>
	<key>IBS</key>
	<string>http://www.ibs-radio.com/</string>
	<key>RADIOBERRY</key>
	<string>http://www.berry.co.jp/</string>
	<key>FMGUNMA</key>
	<string>http://www.fmgunma.com/</string>
	<key>HBC</key>
	<string>http://www.hbc.co.jp/radio/</string>
	<key>STV</key>
	<string>http://www.stv.ne.jp/radio/</string>
	<key>AIR-G</key>
	<string>http://www.air-g.co.jp/</string>
	<key>IBC</key>
	<string>http://www.ibc.co.jp/radio/</string>
	<key>TBC</key>
	<string>http://www.tbc-sendai.co.jp/02radio/</string>
	<key>FMNIIGATA</key>
	<string>https://www.fmniigata.com/</string>
	<key>FMPORT</key>
	<string>http://www.fmport.com/</string>
	<key>BSN</key>
	<string>http://www.ohbsn.com/radio/</string>
	<key>FMTOYAMA</key>
	<string>http://www.fmtoyama.co.jp/</string>
	<key>KNB</key>
	<string>http://www.knb.ne.jp/radio/</string>
	<key>MRO</key>
	<string>http://www.mro.co.jp/radio/</string>
	<key>HELLOFIVE</key>
	<string>http://hellofive.jp/</string>
	<key>FMN</key>
	<string>http://www.fmnagano.co.jp/</string>
	<key>SBC</key>
	<string>http://sbc21.co.jp/blogwp/radio/</string>
	<key>CBC</key>
	<string>http://hicbc.com/radio/</string>
	<key>TOKAIRADIO</key>
	<string>http://www.tokairadio.co.jp/</string>
	<key>GBS</key>
	<string>http://www.zf-web.com/</string>
	<key>FM-ZIP</key>
	<string>http://zip-fm.co.jp/</string>
	<key>FMAICHI</key>
	<string>http://fma.co.jp/</string>
	<key>K-MIX</key>
	<string>http://www.k-mix.co.jp/</string>
	<key>SBS</key>
	<string>http://www.at-s.com/sbsradio/</string>
	<key>FMMIE</key>
	<string>http://www.fmmie.jp/</string>
	<key>ABC</key>
	<string>http://abc1008.com/</string>
	<key>MBS</key>
	<string>http://www.mbs1179.com/</string>
	<key>OBC</key>
	<string>http://www.obc1314.co.jp/</string>
	<key>CCL</key>
	<string>http://cocolo.jp/</string>
	<key>802</key>
	<string>http://www.fm802.co.jp/</string>
	<key>FMO</key>
	<string>http://fmosaka.net/</string>
	<key>KISSFMKOBE</key>
	<string>http://www.kiss-fm.co.jp/</string>
	<key>CRK</key>
	<string>http://jocr.jp/</string>
	<key>WBS</key>
	<string>http://www.wbs.co.jp/</string>
	<key>E-RADIO</key>
	<string>http://www.e-radio.co.jp/</string>
	<key>KBS</key>
	<string>http://www.kbs-kyoto.co.jp/program/radio.htm</string>
	<key>ALPHA-STATION</key>
	<string>http://fm-kyoto.jp/</string>
	<key>BBS</key>
	<string>http://www.bss.jp/radio/</string>
	<key>RCC</key>
	<string>http://www.1350.jp/</string>
	<key>HFM</key>
	<string>http://hfm.jp/</string>
	<key>RNB</key>
	<string>http://www.rnb.co.jp/radio/</string>
	<key>RKB</key>
	<string>http://rkbr.jp/</string>
	<key>KBC</key>
	<string>http://www.kbc.co.jp/radio/</string>
	<key>LOVEFM</key>
	<string>http://lovefm.co.jp/</string>
	<key>FMFUKUOKA</key>
	<string>http://fmfukuoka.co.jp/</string>
	<key>NBC</key>
	<string>http://www.nbc-nagasaki.co.jp/radio/</string>
	<key>FMNAGASAKI</key>
	<string>http://www.fmnagasaki.co.jp/</string>
	<key>RKK</key>
	<string>http://rkk.jp/radio/</string>
	<key>FMK</key>
	<string>http://fmk.fm/</string>
	<key>OBS</key>
	<string>http://www.e-obs.com/radio/</string>
	<key>FM_OITA</key>
	<string>http://www.fmoita.co.jp/</string>
	<key>MRT</key>
	<string>http://mrt.jp/radio/</string>
	<key>RBC</key>
	<string>http://www.rbc.co.jp/radio_top/</string>
	<key>RN1</key>
	<string>http://www.radionikkei.jp/</string>
	<key>RN2</key>
	<string>http://www.radionikkei.jp/</string>
	<key>HOUSOU-DAIGAKU</key>
	<string>http://www.ouj.ac.jp/</string>
</dict>
</plist>
